.grafico{
    text-align: center;
    margin-top: 4px;
}

.charContainer canvas{
    max-height: 250px;
    width: auto;
}

.charContainer{
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

